<div class="playback-screen__header">
  <div class="playback-screen__progress" style={{progressWidth}}></div>
  {{#unless noAudio}}
  <button
    class="playback-button gtm__click-tracking"
    data-action="Listen to Recording"
    data-label={{concat title '|' id}}
    disabled={{initAudio.isRunning}}
    {{action 'playOrPause'}}>
    {{#if initAudio.isIdle}}
      {{#if isPlaying}}
      <span class="playback-pause"></span> Pause
      {{else}}
      <span class="playback-play"></span> Listen to your recording
      {{/if}}
    {{else}}
      Processing Audio...
    {{/if}}
  </button>
  {{else}}
  <p class="playback-screen__error">
    There seems to be a problem loading the audio for call id: <code>{{callId}}</code>. Please tell digital ops.
  </p>
  {{/unless}}
</div>

<div class="playback-screen__footer">
  {{yield submitURL initAudio.isIdle}}
</div>
