<div class="audio-survey__header">
  <div class="audio-survey__header-title">
  {{#if (eq step '1')}}
    Record yourself
  {{else if (eq step '2')}}
    Approve recording
  {{else if (eq step '3')}}
    Enter your info
  {{/if}}
  </div>

  <span>
    Step {{step}} of 3
  </span>

  {{#if showBadState}}
    <button {{action (mut openEscapeHatch) true}}>Show Bad State</button>
  {{/if}}
</div>

{{#if (eq step '1')}}
  {{audio-recorder question=audioQuestion title=survey.title next=(action next 'callId')}}
{{else if (eq step '2')}}
  {{#playback-screen callId=submission.callId as |url isReady|}}

    {{#action-button class="playback-screen__approve gtm__click-tracking-w-text" data-action="Step 2" click=(action next 'url' url) disabled=(not isReady)}}
      Use This Recording
    {{/action-button}}

    {{#action-button class="playback-screen__cancel gtm__click-tracking-w-text" data-action="Step 2" hollow=true click=(action back)}}
      Re-Record
    {{/action-button}}

  {{/playback-screen}}
{{else if (eq step '3')}}
  {{#personal-info
    onSubmit=(action finish)
    questions=survey.questions
    submission=submission}}

    {{#action-button class="personal-info__cancel gtm__click-tracking-w-text" data-action="Submission" hollow=true click=(action cancel)}}
      Cancel
    {{/action-button}}

  {{/personal-info}}
  <div class="audio-privacy-policy">* By checking this box and submitting your content in through this form (the “Content”), you represent, warrant, and agree that  information included in the Content is true and accurate to the best of your knowledge, (ii) New York Public Radio (“NYPR”) may use, rework, edit, and share this Content in any manner or medium for the purposes called out in the attached submission page, including in creation and promotion of programming and promotion of that programming and NYPR, and (iii) you have the right to make these representations and to grant these rights to NYPR.</div>
{{/if}}

{{#if openEscapeHatch}}
  {{escape-modal}}
{{/if}}
