<div class="audio-survey-header">
  step {{step}} of 3
</div>

{{#if (eq step '1')}}
  {{audio-recorder next=(action next)}}
{{else if (eq step '2')}}
  {{playback-button callId=progress.connection.parameters.CallSid next=(action next)}}
{{else if (eq step '3')}}
  {{personal-info next=(action next)}}
{{/if}}
