<div class="audio-survey-header">
  {{#if backText}}
  <button {{action (if (eq step '2') back cancel)}}>{{backText}}</button>
  {{/if}}
  
  <span>
    step {{step}} of 3
  </span>
</div>

{{#if (eq step '1')}}
  {{audio-recorder next=(action next)}}
{{else if (eq step '2')}}
  {{#playback-screen callId=callId as |url isReady|}}
    
    {{#action-button click=(action next (hash key='url' value=url)) disabled=(not isReady)}}
      Use This Recording
    {{/action-button}}
  
  {{/playback-screen}}
{{else if (eq step '3')}}
  {{personal-info
    onSubmit=(action finish)
    questions=survey.questions
    submission=submission}}
{{/if}}
