{{#if question.questionText}}
  <p>
    Press the record button and begin reading the script:
  </p>

  <p class="audio-recorder__script">
    {{{question.questionText}}}
  </p>
{{else}}
  <p>
    {{{title}}}. Press the record button and begin reading the script:
  </p>
{{/if}}

<div class="audio-recorder__footer{{if question.questionText ' l-fixed-to-bottom'}}">
  {{#action-button
    disabled=connect.isRunning
    click=(action toggleRecord)
    class=(concat 'audio-recorder__button' (if record.isRunning ' is-recording'))}}
    {{#if twilio.connect.isRunning}}
      Connecting...
    {{else if record.isRunning}}
      <span class="stop-icon"></span> Stop Recording
    {{else}}
      <span class="record-icon"></span> Start Recording
    {{/if}}
  {{/action-button}}
</div>
